<VirtualHost *:80>
    ServerName {{ nextcloud_domain }}

    Redirect permanent / https://{{ nextcloud_domain }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ nextcloud_domain }}
    SSLEngine On

    DocumentRoot            /var/www/nextcloud
    Options                 -Indexes

    ErrorLog                /var/log/apache2/nextcloud.info-error_log
    CustomLog               /var/log/apache2/nextcloud.info-access_log common

    php_value session_cache_limiter "public"

    <IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
    </IfModule>

    <Directory "/var/www/nextcloud">
        Options +FollowSymLinks
        AllowOverride All

        <IfModule mod_dav.c>
          Dav off
        </IfModule>

        SetEnv HOME /var/www/nextcloud
        SetEnv HTTP_HOME /var/www/nextcloud
    </Directory>

    <Directory "/var/www/nextcloud/data/">
      # just in case if .htaccess gets disabled
      Require all denied
    </Directory>

    ## Please enable this manually, if needed. See also
    ## https://doc.nextcloud.org/server/8.2/admin_manual/issues/index.html#apple-ios
    # Redirect 301 /.well-known/carddav /nextcloud/remote.php/carddav
    # Redirect 301 /.well-known/caldav  /nextcloud/remote.php/caldav
</VirtualHost>
