#!/bin/sh

AUDITOR="automated"
DATE=$(date +%Y%m%d)
HOST=$(hostname)
RECEIVER="root@{{ domain }}"
LOG_DIR="/var/log/lynis"
REPORT="$LOG_DIR/report-${HOST}.${DATE}"

# Run Lynis
lynis audit system --auditor "${AUDITOR}" --cronjob > ${REPORT}

# Send email
cat /var/log/lynis/report-${HOST}.${DATE} | mail -s Lynis-report_$HOST $RECEIVER
